name: datahub-actions docker
on:
  push:
    branches:
      - main
    paths-ignore:
      - 'build/**'
      - '**.md'
  pull_request:
    branches:
      - main
    paths:
      - 'docker/'
      - '.github/workflows/datahub-actions-docker.yml'
    paths_ignore:
      - 'build/**'
      - '**.md'
  release:
    types: [published, edited]
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
      publish: ${{ steps.publish.outputs.publish }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Compute Tag
        id: tag
        run: |
          echo "GITHUB_REF: $GITHUB_REF"
          SHORT_SHA=$(git rev-parse --short "$GITHUB_SHA")
          TAG=$(echo ${GITHUB_REF} | sed -e "s,refs/heads/master,head\,${SHORT_SHA},g" -e 's,refs/tags/,,g' -e 's,refs/pull/\([0-9]*\).*,pr\1,g')
          echo "tag=$TAG"
          echo "::set-output name=tag::$TAG"
      - name: Check whether publishing enabled
        id: publish
        env:
          ENABLE_PUBLISH: ${{ secrets.AWS_ECR_ACCESS_KEY_ID }}
        run: |
          echo "Enable publish: ${{ env.ENABLE_PUBLISH != '' }}"
          echo "::set-output name=publish::${{ env.ENABLE_PUBLISH != '' }}"
  push_to_registries:
    name: Build and Push Docker Image to ECR
    runs-on: ubuntu-latest
    if: ${{ needs.setup.outputs.publish == 'true' }}
    needs: setup
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: |
            acryldata/datahub-actions
          tag-custom: ${{ needs.setup.outputs.tag }}
          tag-custom-only: true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to ECR
        uses: docker/login-action@v1
        with:
          registry: public.ecr.aws
          username: ${{ secrets.AWS_ECR_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_ECR_SECRET_ACCESS_KEY }}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.ACRYL_DOCKER_USERNAME }}
          password: ${{ secrets.ACRYL_DOCKER_PASSWORD }}
      - name: Build and Push Image
        uses: docker/build-push-action@v2
        with:
          # TODO: Push to OSS dockerhub.
          file: ./docker/datahub-actions/Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.docker_meta.outputs.tags }}
          push: ${{ needs.setup.outputs.publish == 'true' && github.event_name != 'pull_request' }}
          build-args: 
            "GEM_FURY_TOKEN=${{ secrets.GEMFURY_PULL_TOKEN }}"
